#Android generated
bin
gen
lint.xml

#Eclipse
.project
.classpath
.settings
.checkstyle

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*
alfresco-mobile-android/libs/android-support-v13.jar
alfresco-mobile-android/libs/okhttp-1.5.3.jar
alfresco-mobile-android/libs/picasso-2.2.0.jar
